<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
	default-autowire="byName" default-lazy-init="true">
	
	<!-- session工厂 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
	</bean>
	
	<bean id="ClassDAO" class="com.ClassMIS.daoImpl.ClassDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="StudentDAO" class="com.ClassMIS.daoImpl.StudentDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="CourseDAO" class="com.ClassMIS.daoImpl.CourseDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="GradeDAO" class="com.ClassMIS.daoImpl.GradeDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="studentServiceImpl" class="com.ClassMIS.serviceImpl.StudentServiceImpl">
		<property name="studentDAO" ref="StudentDAO"/>
	</bean>
	<bean id="CourseServiceImpl" class="com.ClassMIS.serviceImpl.CourseServiceImpl">
		<property name="courseDAO" ref="CourseDAO"/>
	</bean>
	<bean id="GradeServiceImpl" class="com.ClassMIS.serviceImpl.GradeServiceImpl">
		<property name="gradeDAO" ref="GradeDAO"/>
	</bean>	
	<bean id="ClassServiceImpl" class="com.ClassMIS.serviceImpl.ClassServiceImpl">
		<property name="classDAO" ref="ClassDAO"/>
	</bean>
	
	
	<!-- 登录 -->
	<bean id="Login" class="com.ClassMIS.action.Login">
		<property name="studentService" ref="studentServiceImpl"/>
	</bean>
	<!-- 添加班级信息 -->
	<bean id="Add_class" class="com.ClassMIS.action.Add_class">
		<property name="classService" ref="ClassServiceImpl"/>
	</bean>
	<!-- 添加学生信息 -->
	<bean id="Add_student" class="com.ClassMIS.action.Add_student">
		<property name="studentService" ref="studentServiceImpl"/>
		<property name="classService" ref="ClassServiceImpl"/>
	</bean>
	<!-- 添加课程信息 -->
	<bean id="Add_course" class="com.ClassMIS.action.Add_course">
		<property name="courseService" ref="CourseServiceImpl"/>
	</bean>
	<!-- 查询班级 -->
	<bean id="Manager_class" class="com.ClassMIS.action.Manager_class">
		<property name="classService" ref="ClassServiceImpl"/>
	</bean>
	<!-- 删除班级 -->
	<bean id="Delete_class" class="com.ClassMIS.action.Delete_class">
		<property name="classService" ref="ClassServiceImpl"/>
	</bean>
	<!-- 修改班级 -->
	<bean id="Edit_class" class="com.ClassMIS.action.Edit_class">
		<property name="classService" ref="ClassServiceImpl"/>
	</bean>
	<!-- 保存修改班级 -->
	<bean id="EditS_class" class="com.ClassMIS.action.EditS_class">
		<property name="classService" ref="ClassServiceImpl"/>
	</bean>
	<!-- 查询学生 -->
	<bean id="Manager_student" class="com.ClassMIS.action.Manager_student">
		<property name="studentService" ref="studentServiceImpl"/>
	</bean>	
	<!-- 删除学生 -->
	<bean id="Delete_student" class="com.ClassMIS.action.Delete_student">
		<property name="studentService" ref="studentServiceImpl"/>
	</bean>
	<!-- 查看学生信息 -->
	<bean id="Look_student" class="com.ClassMIS.action.Look_student">
		<property name="studentService" ref="studentServiceImpl"/>
	</bean>
	<!-- 修改学生信息 -->
	<bean id="Edit_student" class="com.ClassMIS.action.Edit_student">
		<property name="studentService" ref="studentServiceImpl"/>
	</bean>
	<!-- 保存修改学生 -->
	<bean id="EditS_student" class="com.ClassMIS.action.EditS_student">
		<property name="studentService" ref="studentServiceImpl"/>
		<property name="classService" ref="ClassServiceImpl"/>
	</bean>
	<!-- 查询课程 -->
	<bean id="Manager_course" class="com.ClassMIS.action.Manager_course">
		<property name="courseService" ref="CourseServiceImpl"/>
	</bean>	
	<!-- 删除课程 -->
	<bean id="Delete_course" class="com.ClassMIS.action.Delete_course">
		<property name="courseService" ref="CourseServiceImpl"/>
	</bean>
	<!-- 修改课程 -->
	<bean id="Edit_course" class="com.ClassMIS.action.Edit_course">
		<property name="courseService" ref="CourseServiceImpl"/>
	</bean>
	<!-- 保存修改课程 -->
	<bean id="EditS_course" class="com.ClassMIS.action.EditS_course">
		<property name="courseService" ref="CourseServiceImpl"/>
	</bean>
	
	<!-- 成绩录入 -->
	<bean id="Input_grade" class="com.ClassMIS.action.Input_grade">
		<property name="courseService" ref="CourseServiceImpl"/>
		<property name="studentService" ref="studentServiceImpl"/>
		<property name="classService" ref="ClassServiceImpl"/>
		<property name="gradeService" ref="GradeServiceImpl"/>
	</bean>
	<!--根据班级，课程查找成绩表  -->
	<bean id="Find_grade" class="com.ClassMIS.action.Find_grade">	
		<property name="gradeService" ref="GradeServiceImpl"/>
		<property name="classService" ref="ClassServiceImpl"/>
		<property name="courseService" ref="CourseServiceImpl"/>
	</bean>
	<!-- 保存成绩 -->
	<bean id="Save_grade" class="com.ClassMIS.action.Save_grade">
		<property name="gradeService" ref="GradeServiceImpl"/>
		<property name="classService" ref="ClassServiceImpl"/>
		<property name="courseService" ref="CourseServiceImpl"/>
		<property name="studentService" ref="studentServiceImpl"/>
	</bean>
	<!-- 学生成绩统计 -->
	<bean id="Count_student_grade" class="com.ClassMIS.action.Count_student_grade">
		<property name="gradeService" ref="GradeServiceImpl"/>
		<property name="classService" ref="ClassServiceImpl"/>
		<property name="courseService" ref="CourseServiceImpl"/>
		<property name="studentService" ref="studentServiceImpl"/>
	</bean>
	<!-- 成绩统计 -->
	<bean id="Count_course_grade" class="com.ClassMIS.action.Count_course_grade">
		<property name="courseService" ref="CourseServiceImpl"/>
		<property name="studentService" ref="studentServiceImpl"/>
		<property name="classService" ref="ClassServiceImpl"/>
		<property name="gradeService" ref="GradeServiceImpl"/>
	</bean>
	<!--查询成绩统计  -->
	<bean id="Find_course_grade" class="com.ClassMIS.action.Find_course_grade">
		<property name="courseService" ref="CourseServiceImpl"/>
		
		<property name="classService" ref="ClassServiceImpl"/>
		<property name="gradeService" ref="GradeServiceImpl"/>
	</bean>
	
	<!-- 把sessionFactory注入到 hibrenateTemplate
	<bean id="hibrenateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>-->
</beans>